<div>
  <div class="card" style="width: 100%;">
    <div class="card-header" style="font-weight: bold;
        font-size: 2.5rem; letter-spacing: 4px;
        color: #16e371; align-items: center;
        display: flex;
        justify-content: space-between;">
      <span class=" tang-font">Profile</span>
      <button class="btn btn-success">Edit Profile</button>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th scope="col">Name</th>
                <td>Rahul Gupta</td>
              </tr>
              <tr>
                <th scope="col">Age</th>
                <td>22</td>
              </tr>
              <tr>
                <th scope="col">Gender</th>
                <td>Male</td>
              </tr>
              <tr>
                <th scope="col">Email</th>
                <td>rahulgupta@gmail.com</td>
              </tr>
              <tr>
                <th scope="col">Mobile No.</th>
                <td>9854221425</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
